
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
} 

.title {
    text-align: center;
    padding: 5%;
    font-family: "Lato";
    font-size: 45px;
    color: teal;
}

.project-menu {
    display: flex;
    justify-content: center;

}

.subtitle {
    text-align: center;
    padding: 2%;
    font-family: "Lato";
    font-size: 30px;
    color: teal;
}

.paragraph {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-family: "Lato";
    font-size: 18px;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.sources {
    display: flex;
    text-align: left;
    font-family: "Lato";
    font-size: 18px;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;

}


.heading {

    display: flex;
    justify-content: center;
    font-family: "Lato";
    font-size: 18px;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;

}


.image {
    display: flex;
    justify-content: center;
    padding: 1%;
    margin: auto;
    width: 100%;
}

img {
    width: 60%;
    height: 100%;
}

#words-img {
    width: 40%!important;
}

iframe {
    width: 800px;
    height: 450px;

}

video {
    width: 480px;
    height: 270px;
}

.summary {
    display: flex;
    text-align: justify;
    font-family: "Lato";
    font-size: 16px;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;

}

li {
    margin: 20px;
}

.ul-good li {
    font-size: 16px;
    list-style-type: '✓';
    font-family: 'Lato';
    margin-left: 10%;
    margin-right: 10%;
  }

.ul-bad li {

    font-size: 16px;
    list-style-type: "\2717";
    font-family: 'Lato';
    margin-left: 10%;
    margin-right: 10%;

  }

.test-bullet {

    color: #E973FC;
    display: flex;
    font-family: "Lato";
    font-size: 18px;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;

}

video {
    display: flex;
    padding: 1%;
    margin: auto;

}

.ul-left {

    display: flex;
    font-size: 18px;
    font-family: 'Lato';
    margin-left: 10%;
    margin-right: 10%;

}

nav .navbar-nav li a{
    color: #20B2AA!important;
}

nav .navbar-brand{
    color: #20B2AA!important;
    padding-left: 1%;
}

.copyright {
    display: flex;
    justify-content: center;
    font-family: "Lato";
    font-size: 20px; 
    color: teal;
    padding: 2%;
}

.myfooter {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 2%;
}

.social {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.container-flex {
    display: flex;
    justify-content: center;
    padding-bottom: 7%;
}

i.fa {
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    color: white;
    background-color: #de6e4b;
    width: 28px;
    text-align: center;
  
  }

hr {
    border: 0;
    clear:both;
    display:block;
    width: 80%;               
    background-color:#20B2AA;
    height: 1px;
}

#footer-name {
    color: teal;
    text-decoration: teal;
}

#footer-name:hover {
    color: #de6e4b;
}

#button {
    display: inline-block;
    background-color: teal;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #de6e4b;
  }
  #button:active {
    background-color: #de6e4b;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

@media only screen and (max-width: 770px) and (min-width: 501px) { /* tablet size */

    iframe {
        width: 600px;
        height: 350px;
    }
    
    .title {
        font-size: 38px;
    }
    
    .subtitle {
        font-size: 26px;
    }
    
    .paragraph {
        font-size: 16px;
        
    }
    
    .heading {
        font-size: 16px;
    
    }
    
    .summary {
        font-size: 14px;
    
    }

    .sources {
        font-size: 16px;
    }
    

    .ul-good li {
        font-size: 14px;
      }
    
    .ul-bad li {
    
        font-size: 14px;
    
      }
    
    .test-bullet {
        font-size: 16px;
    
    }
    .copyright {
        font-size: 16px; 
    }

    video {
        width: 400px;
        height: 190px;
    }

    #button {
        margin: 30px;
      }
}

@media only screen and (max-width: 501px){ /* mobile size */

    .title {
        font-size: 30px;
    }

    iframe {
        width: 350px;
        height: 200px;
    }
    
    .subtitle {
        font-size: 22px;
    }
    
    .paragraph {
        font-size: 14px;
        
    }
    
    .heading {
        font-size: 14px;
    
    }
    
    .summary {
        font-size: 12px;
    
    }

    .sources {
        font-size: 12px;
    }
    

    .ul-good li {
        font-size: 12px;
      }
    
    .ul-bad li {
    
        font-size: 12px;
    
      }
    
    .test-bullet {
        font-size: 14px;
    
    }
    .copyright {
        font-size: 14px; 
    }

    video {
        width: 300px;
        height: 200px;
    }
}