
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
} 

.title {
    text-align: center;
    padding: 5%;
    font-family: "Lato";
    font-size: 45px;
    color: teal;
}

.project-menu {
    display: flex;
    justify-content: center;

}

.subtitle {
    text-align: center;
    padding: 2%;
    font-family: "Lato";
    font-size: 30px;
    color: teal;
}

.paragraph {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-family: "Lato";
    font-size: 18px;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.heading {

    display: flex;
    justify-content: center;
    font-family: "Lato";
    font-weight: bold;
    color: #41b3a3;
    font-size: 18px;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;

}

.image {
    display: flex;
    justify-content: center;
    padding: 2%;
    margin: auto;
    
}

.summary {
    display: flex;
    text-align: justify;
    font-family: "Lato";
    font-size: 16px;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;

}

li {
    margin: 20px;
}

nav .navbar-nav li a{
    color: #20B2AA!important;
}

nav .navbar-brand{
    color: #20B2AA!important;
    padding-left: 1%;
}

.copyright {
    display: flex;
    justify-content: center;
    font-family: "Lato";
    font-size: 20px; 
    color: teal;
    padding: 2%;
}

.myfooter {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 2%;
}

.social {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.container-flex {
    display: flex;
    justify-content: center;
    padding-bottom: 7%;
}

i.fa {
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    color: white;
    background-color: #de6e4b;
    width: 28px;
    text-align: center;
  
  }

hr {
    border: 0;
    clear:both;
    display:block;
    width: 80%;               
    background-color:#20B2AA;
    height: 1px;
}

#footer-name {
    color: teal;
    text-decoration: teal;
}

#footer-name:hover {
    color: #de6e4b;
}

#button {
    display: inline-block;
    background-color: teal;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #de6e4b;
  }
  #button:active {
    background-color: #de6e4b;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

